@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 /* body style */
body{
     
    font-family: "Azeret Mono", monospace;

}


/* Navbar style */

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;  
    justify-items: center ;
    align-items: center;
}

.btn-resume{
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
padding: 8px;

opacity: 0.8;
}

/* background image section */

.bg-image{

    background-image: url("assets/Hero-bg.png");
    height: 500px;
    margin-top: 25px;
 background-repeat: no-repeat;
 background-position:center;
 background-size: cover;
}

.bg-contain{
    padding: 30px;
}

.Text{
    color: blue;
}


.group-image{
    width: 240px;
    height: 240px;
    margin: auto;
    
}

.bg-text{
    text-align: center;
    height: 140px;
    width: 795px;
    margin: auto
}



.bg-btn{
    
display: flex;
justify-content: center;
    margin: auto;
   padding: 15px;    
   width: 190px;
   border-radius: 8px;
   background-color: rgb(13, 19, 33);
   color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Azeret Mono", monospace;
}

.text-p{

    opacity: 0.7;
    font-size: 13px;
    line-height: 20px;
    
}
/* Tile sectiom */

.title-section{
    border-radius: 16px;
background-color: rgba(13, 19, 33, 0.02);
margin-top: 40px;
width: 1050px;
margin: auto;
padding: 20px 0px 20px 0px;

}

.main-div{
width: 940px;
margin: auto;


}
.title{
    width: 840px;
    margin: auto;
    text-align: center;

}

.title-content{
    background-color: white;
    padding: 10px;
    display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;

}
.title-text{

    font-weight: 700;
    opacity: .8;
    height: 200px;
    width: 420px;


}
.title-img{
    width: 200px;
    height: 170px;
    background-size: cover;
}

.title-p{
    margin: 20px 0px 30px 0px;
    opacity: 0.5;
    font-size: 13px;

}
.title-btn{
    padding: 7px;
    width: 110px;
    border-radius: 3px;
    font-family: "Azeret Mono", monospace;
    opacity: 0.7;}

    .title-content-2{
        background-color: white;
        padding: 10px;
        display: flex;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      width: 920px;
      margin: auto;


    }

    .title-content-3{
        background-color: white;
        padding: 10px;
        display: flex;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      width: 920px;
      margin: auto;
    
    }

    .title-content-extra{

        margin-top: 20px;
        

    }

.inpiration{
   width: 1000px; 
   margin: auto;
   margin-top: 50px;

    }

.inspiration-text{
 width: 800px;
 margin: auto;
 justify-items: center;
 text-align: center;
 margin-bottom: 40px;

    }
.inpiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width:650px;
    padding: 8px;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 340px;
    margin: auto;

}
.video{
    border-radius: 13px;
}

/* Target Styles */

.target-main{
margin-top: 60px;
}

.target-title{

width: 900px;
margin: auto;
justify-content: center;
align-items: center;
text-align: center;
}

.target-parrent{
width: 1000px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-evenly;
justify-items: center;

}


.target-text-p{
    opacity: 0.7;
    font-size: smaller;
    line-height: 22px;
}

.target-learn{
font-size: small;
color: rgb(13, 19, 33);

}

.target-contain-1{
    width: 250px;
    background: rgba(255, 76, 30, 0.05);
    padding: 10px;
    align-items:center;
    justify-content: center;
    border-radius: 14px;
    
    }

 .target-contain-2{
    width: 250px;
    padding: 10px;
    align-items:center;
    justify-content: center;
    background: rgba(0, 76, 232, 0.05);
    border-radius: 14px;
}

.target-contain-3{
    width: 250px;
    background: rgba(255, 223, 0, 0.05);
    padding: 10px;
    align-items:center;
    justify-content: center;
    border-radius: 14px;
    
}

/* Next TArget Section */

.next-target-heading{
    width: 900px;
margin: auto;
justify-content: center;
align-items: center;
text-align: center;

}

.next-target-container{

    margin-top: 60px;

}

.next-target-content{

    width: 920px;
    margin: auto;
    row-gap:20px;
    display: grid;
}

.next-target-1{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;

}

.next-img{

    margin-right: 20px;
}

.next-text-comtainer{

    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: -22px;
}

.next-target-div{
    margin-top: 40px;
}

.next-img-mongodb{
width: 100px;
margin-right: 20px;

}

.next-target-link{
color: black;
font-size: small;
}


.support-image{
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url('assets/handshake.jpg');
    height: 250px;
    width: 922px;
    margin: auto;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    
    
}

.support-section{
margin-top: 40px;
}

.support-text{
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: white;
    margin-top: 40px;
}

.support-container{
    width: 700px;
    margin: auto;
    padding: 30px;
}

.support-input{

    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.input-text{
    padding: 8px;
    font-size:10px;
    color: rgba(13, 19, 33, 0.4);
    box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);
   width: 300px;
   border-radius: 6px;
   
   
}

 .support-submit{
    padding: 7px 17px 7px 17px;
    font-size:13px;
    text-align: center;
   box-sizing: border-box;
   border: 1px solid rgba(13, 19, 33, 0.15);

   border-radius: 6px;
   font-family:Azeret Mono;
}

.fotter-main{
    display: flex;
    width: 922px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.footer{
    background: rgba(13, 19, 33, 0.03);
    margin-top: 50px;
    

}

.footer-img{
margin-top: 10px;

}